@media only screen and (max-width: 800px){
  .header{
    .container{
      max-width: 400px;
      text-align: center;
      h1{
        color: white;
        font-size: 3em;
      }
      .search{
        margin: 1.5em 0 1.5em 0;
        z-index: 1000000;
        input{
          padding: 1.5em 1em 1.5em 1em;
          width: 20em;
          border-radius: .7em;
          font-size: 1em;
          font-family: 'Montserrat';
        }    
      }
      div{
        background: #C4C4C4;
        height: 2em;
        margin: -3.3em 0 2em 0;
        border-radius: .7em;
      }
    }
  }
  
  .todos li{
    padding: 1.3em;
    width: 310px;
    span{
      bottom: .54em;
      margin-left: .8em;
      font-size: .95em;
    }
  }
  
  section{
    .add{
      input{
        width: 20em;
        font-size: 1em;
      }    
    }
  }
  
}